.container { 
  background-image:url('https://thumbs.dreamstime.com/b/ampoule-d-eco-led-avec-le-panneau-solaire-et-la-turbine-de-vent-90470996.jpg');  
  background-repeat: no-repeat;
  background-position:bottom;
  background-size: 60%;
  height: 650px;
  width: 2000px;
  z-index: 0;
 
 
  
  
  }