.bgimg {
    top: -50px;
    left: 0;
    width: 1267px;
    min-height: 110vh;
    /* z-index: 2; */
    background: lightblue url(../../assets/ampoule.jpeg) no-repeat fixed 50% 50%;
    background-size: cover;
}

.header {
    float: right;
    margin: px;
}

.title {
    color: white;
}
